.mesaage-wrapper {
    border: 1px solid #94a3b8
}

.messages-output {
    height: 70vh;
    border: 1px solid lightgray;
    overflow-y: auto;
}

.messages-output::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.messages-output::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
}

.messages-output::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.message-inner {
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    min-width: 200px;
    max-width: 90%;
    text-align: left;
    min-height: 80px;
    font: 400 1em, sans-serif;
    display: inline-block;
    border-radius: 10px;
    background-color: #e2e8f0;
    color: #000;
}

.incoming-message .message-inner {
    color: #fff;
    background-color: #64748b;
}

.incoming-message {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.message-timestamp-left {
    font-size: 12px;
}

.message-sender {
    margin-bottom: 5px;
    font-weight: bold;
}

.message-date-indicator {
    width: 120px;
    margin: 10px auto;
    background-color: #e2e8f0;
    border-radius: 8px;
    padding: 8px 10px;
}

.conversation-info {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    height: 60px;
    gap: 10px;
    padding: 16px;
    background-color: #334155;
    color: #e2e8f0;
}

.conversation-profile-pic {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.form-data {
    padding: 10px;
}